<app-header></app-header>

<div class="tree-layout">

  <app-sidebar></app-sidebar>

  <main class="tree-content">

    <div class="scan-section">

      <div class="scanner-wrapper">

        <div
          class="scanner-box"
          [class.active]="isScanning"
        >

          <!-- CAMERA -->
          <video
            #video
            class="camera-preview"
            autoplay
            muted
            playsinline
            [class.show-camera]="isScanning"
          ></video>


          <!-- PLACEHOLDER -->
          <div
            class="scanner-placeholder"
            *ngIf="!isScanning && !scannedValue"
          >

            <div class="barcode-area">

              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>

            </div>

          </div>


          <!-- CORNERS -->
          <div class="corner top-left"></div>
          <div class="corner top-right"></div>
          <div class="corner bottom-left"></div>
          <div class="corner bottom-right"></div>


          <!-- MOVING BLUE LINE -->
          <div
            class="scan-line"
            *ngIf="isScanning"
          ></div>

        </div>


        <!-- START SCAN BUTTON -->
        <button
          *ngIf="!isScanning && !scannedValue"
          type="button"
          class="scan-button"
          (click)="startScanner()"
        >

          <mat-icon>document_scanner</mat-icon>

          Start Scan

        </button>


        <!-- SCANNING TEXT -->
        <div
          class="scanning-message"
          *ngIf="isScanning"
        >

          <span class="scanner-dot"></span>

          Scanning...

        </div>


        <!-- RESULT -->
        <div
          class="scan-result"
          *ngIf="scannedValue"
        >

          <mat-icon class="success-icon">
            check_circle
          </mat-icon>

          <div>

            <small>
              Barcode detected
            </small>

            <strong>
              {{ scannedValue }}
            </strong>

          </div>

        </div>


        <!-- SCAN AGAIN -->
        <button
          *ngIf="scannedValue"
          type="button"
          class="scan-button"
          (click)="scanAgain()"
        >

          <mat-icon>document_scanner</mat-icon>

          Scan Again

        </button>


        <!-- ERROR -->
        <div
          class="scan-error"
          *ngIf="scanError"
        >

          <mat-icon>error_outline</mat-icon>

          {{ scanError }}

        </div>

      </div>

    </div>

  </main>

</div>