<app-header></app-header>

<div class="farm-layout">

  <app-sidebar></app-sidebar>

  <main class="farm-content">

    <div class="container-fluid px-4 py-3">

      <!-- PAGE TITLE -->
      <div class="page-heading mb-4">

        <h2>
          {{ 'FARMS.DASHBOARD_TITLE' | translate }}
        </h2>

        <small>
          {{ 'FARMS.GREETING' | translate }}
        </small>

      </div>


      <!-- SUMMARY CARDS -->
      <div class="row g-4 mb-4">

        <div class="col-12 col-md-4">
          <div class="summary-card">

            <div class="summary-icon">
              <span class="material-symbols-outlined">
                psychiatry
              </span>
            </div>

            <div>
              <h4>
                {{ 'FARMS.TOTAL_FARMS' | translate }}
              </h4>

              <h2>1</h2>
            </div>

          </div>
        </div>


        <div class="col-12 col-md-4">
          <div class="summary-card">

            <div class="summary-icon">
              <span class="material-symbols-outlined">
                psychiatry
              </span>
            </div>

            <div>
              <h4>
                {{ 'FARMS.TOTAL_ACRES' | translate }}
              </h4>

              <h2>10</h2>
            </div>

          </div>
        </div>


        <div class="col-12 col-md-4">
          <div class="summary-card">

            <div class="summary-icon">
              <span class="material-symbols-outlined">
                psychiatry
              </span>
            </div>

            <div>
              <h4>
                {{ 'FARMS.TOTAL_TREES' | translate }}
              </h4>

              <h2>500</h2>
            </div>

          </div>
        </div>

      </div>


      <!-- ADD FARM -->
      <div class="d-flex justify-content-end mb-3">

        <button
          type="button"
          class="add-farm-btn"
            
  class="add-farm-btn"
  routerLink="/farms/add"
        >
          + {{ 'FARMS.ADD_FARM' | translate }}
        </button>

      </div>


      <!-- FARM LIST -->
      <div class="row">

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">

          <div class="farm-card">

            <h3>
              Shamba la Mbuyuni
            </h3>


            <div class="farm-info">

              <div class="farm-info-row">

                <span class="material-symbols-outlined">
                  location_on
                </span>

                <span>
                  Tandahimba, Mtwara
                </span>

              </div>


              <div class="farm-info-row">

                <span class="material-symbols-outlined">
                  straighten
                </span>

                <span>
                  10 Acres
                </span>

              </div>


              <div class="farm-info-row">

                <span class="material-symbols-outlined">
                  park
                </span>

                <span>
                  500 Trees
                </span>

              </div>


              <div class="farm-info-row">

                <span class="material-symbols-outlined">
                  calendar_month
                </span>

                <span>
                  5 years Old
                </span>

              </div>

            </div>


            <div class="farm-map">
              <img
                src="assets/images/farm-map.png"
                alt="Farm Map"
              />
            </div>


            <div class="farm-card-footer">

              <button
  type="button"
  class="view-farm-btn"
  [routerLink]="['/farms', 'FM-0001']"
>
  {{ 'FARMS.VIEW_FARM' | translate }}
</button>

            </div>

          </div>

        </div>

      </div>

    </div>

  </main>

</div>