<form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()" class="row g-3">
  <ng-container *ngFor="let field of fp.fields">
    <div [class]="field.class || 'col-12'">
      <ng-container [ngSwitch]="field.type">

        <mat-form-field *ngSwitchCase="FieldType.input" class="w-100" [appearance]="field.appearance || 'outline'">
<mat-label>
  {{ field.label | translate }}
</mat-label>          <input matInput [type]="field.inputType || 'text'" [formControlName]="field.key" [placeholder]="field.placeholder || ''">
      
          <mat-error *ngIf="form.get(field.key)?.hasError('required')">
  {{ field.label | translate }} {{ 'VALIDATION.REQUIRED' | translate }}
</mat-error>
        </mat-form-field>

        <mat-form-field *ngSwitchCase="FieldType.select" class="w-100" [appearance]="field.appearance || 'outline'">
<mat-label>
  {{ field.label | translate }}
</mat-label>          <mat-select [formControlName]="field.key">
            <mat-option *ngFor="let option of field.options || []" [value]="option.value">
              {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngSwitchCase="FieldType.textarea" class="w-100" [appearance]="field.appearance || 'outline'">
<mat-label>
  {{ field.label | translate }}
</mat-label>          <textarea matInput [formControlName]="field.key"></textarea>
        </mat-form-field>

        <button
          *ngSwitchCase="FieldType.button"
          mat-raised-button
          color="primary"
          type="submit"
          [class]="field.fieldClass || 'w-100'">
          {{ field.label | translate }}
        </button>

      </ng-container>
    </div>
  </ng-container>
</form>
