@use './app/theme/theme';

html, body {
  min-height: 100%;
  margin: 0;
}

body {

  font-family:
    Inter,
    Arial,
    sans-serif;

  background:
    var(--app-bg);

  color:
    var(--app-text);

   transition:
    background-color 0.25s ease,
    color 0.25s ease;

}

a {
  color: var(--app-primary);
  text-decoration: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.min-h-full { min-height: 100vh; }
.max-w-920 { max-width: 920px; }
.max-w-420 { max-width: 420px; }
.faded { opacity: .78; }
.no-shadow { box-shadow: none !important; }
.no-bg { background: transparent !important; }

.page-container {
  padding: 24px;
}

.feature-card {

  border:
    1px solid var(--app-border);

  border-radius: 14px;

  background:
    var(--app-card);

  color:
    var(--app-text);

  padding: 20px;

}
.mat-mdc-menu-panel {
  background: var(--app-surface) !important;
  color: var(--app-text) !important;
}

.mat-mdc-menu-content {
  background: var(--app-surface) !important;
}

.mat-mdc-menu-item {
  color: var(--app-text) !important;
}

.mat-mdc-menu-item .mdc-list-item__primary-text {
  color: var(--app-text) !important;
}

.mat-mdc-menu-item:hover {
  background: var(--app-card) !important;
}
